body {
	/* Photo by Maarten Deckers on Unsplash */
	/*background-image: url(https://images.unsplash.com/photo-1496868834840-5f4c98840aaa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=271557c887bb814d49dc3d624fe0bfbe&auto=format&fit=crop&w=1350&q=80);*/
	/*background-image: url(../images/bg-sm-blue-box-maarten-deckers-unsplash.jpg);*/
	/*background-color: orange;*/
	background-image: url(../../server/images/bg-sm-blue-box-maarten-deckers-unsplash.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*background: orange;*/
	overflow: hidden;
	margin: 0px;
	margin-top: 100vh; /**/
	/*margin-top: 0vh;*/

	/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior; */
	overscroll-behavior: none;
	/*overscroll-behavior: contain;*/
}

.overscroll-container { overscroll-behavior: none; }

#image-container { 
	margin-top: 100vh; }
#image-container.reset { margin-top: 99vh; }

/*body.noScroll {
	overflow: hidden;
}*/

a { text-decoration: none; }

.container {
	display: flex;
	justify-content: center;
}
.max-con { max-width: 1092px; }
.abs-pos { position: absolute; }
.ctr-flx { 
	display: flex; 
	justify-content: center;
	align-items: center;
}

/* make changes when screen changes, can use many options w/@media, place EOF */
/* @media max-width: {} */
/* @media max-height: {} */

/********************************************/
/* Home screen title page */
/********************************************/
/* main title page container */
#coMain {
	height: 72vh;
	width: 100vw;
	/*position: absolute;*/
	/*margin-top: -72vh;*/ /**/
	margin-top: -90vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: baseline;
	text-shadow: 4px 5px 8px darkslategray;
	
	visibility: visible;
	-webkit-transition: visibility 0.4s;
	-ms-transition: visibility 0.4s;
	-moz-transition: visibility 0.4s;
	-o-transition: visibility 0.4s;
	transition: visibility 0.4s;
}

#coMain.select {
	visibility: hidden;
}

/* base container for items inside main container */
.coBaseDiv {
	/*height: 25vh;*/
	/*width: 60vw;*/
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* base text formatting class */
.coBaseText {
	color: navajowhite;
	font-weight: normal;
	font-size: 1.5rem;
	font-family: "imprint mt shadow", "niagara solid", times;
	margin: 1vh 3vw;
}

/* container for company title */
#coDiv {

}

/* text formatting for company title */
#coTitle {
	font-size: 8rem;
	margin-bottom: -1rem;
	margin-top: -1rem;
	text-align: center;
}

/* container for company subtitle */
#coSubDiv {

}

/* text formatting for company subtitle */
#coSubtitle {
	font-size: 3rem;
}

/********************************************/
/* menu products panel */
/********************************************/
.panels {
	/*top: 172vh;*/
	margin-top: -8rem;
	/*height: 0vh;*/
	/*height: 71.6vh;*/
	/*width: 80vw;*/
	width: 90vw;
	/*position: absolute;*/
	background: lightseagreen;
	display: flex;
	justify-content: center;
	align-items: center;	
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	overflow: hidden;
	opacity: 0;

	-webkit-transition: height 1s, margin-top 1s, opacity 320ms;
	-ms-transition: height 1s, margin-top 1s, opacity 320ms;
	-moz-transition: height 1s, margin-top 1s, opacity 320ms;
	-o-transition: height 1s, margin-top 1s, opacity 320ms;
	transition: height 1s, margin-top 1s, opacity 320ms;
}

#products-panel {
	/* Photo by Nikhita Singhal on Unsplash */
	/*background-image: url(https://images.unsplash.com/photo-1506918937842-64fce78fca6b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=72a21fa00518df31573a2ff63abf0498&auto=format&fit=crop&w=1050&q=80);*/
	background-image: url(../images/bg-sm-products-nikhita-singhal-unsplash.jpg);
}

#orders-panel {
	/* Photo by Agnieszka Kowalczyk on Unsplash */
	/*background-image: url(https://images.unsplash.com/photo-1532336414038-cf19250c5757?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9&s=adf4e58b7d4f6ecff29f28cb1cf918dd);*/
	background-image: url(../images/bg-sm-orders-agnieszka-kowalczyk-unsplash.jpg);
}

#account-panel {
	/* Photo by Stephanie Studer on Unsplash */
	/*background-image: url(http://images.unsplash.com/photo-1515470795860-432fb0098a39?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9&s=d96da2a90d36176f57a1d69fa53f85f5);*/
	background-image: url(../images/bg-sm-account-stephanie-studer-unsplash.jpg);
	/* Photo by Brooke Lark on Unsplash */
	/*background-image: url(https://images.unsplash.com/photo-1481671703460-040cb8a2d909?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=25d3d8d29de77e77a940174620c5b290);*/
}

#about-panel {
	/* Photo by Orlova Maria on Unsplash */
	/*background-image: url(https://images.unsplash.com/photo-1505334545366-6362e0c27a9e?ixlib=rb-0.3.5&s=e974f1c825aa232f5648442b3cb8b659&auto=format&fit=crop&w=634&q=80);*/
	/* Photo by Monika Grabkowska on Unsplash */
	/*background-image: url(https://images.unsplash.com/photo-1511091816703-eaa6023626b6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=660aaf3f34ec50220f6af417d10681d5);*/
	background-image: url(../images/bg-sm-about-monika-grabkowska-unsplash.jpg);
}

.panels.show {
	top: 92vh;
	margin-top: -89.4vh;
	/*height: 71.6vh;*/
	height: 84.4vh;
	opacity: 1;
	z-index: 40;
}

.scroll-panel {
	/*position: absolute;*/
	/*height: 64vh;*/
	/*height: 80.4vh;*/
	height: calc(100% - 40px);
	width: 81vw;
	top: 0px;
	/*margin-left: 8px;*/
	/*margin-left: 12px;*/
	padding: 20px 0px;
	/*padding-right: 12px;*/
	margin-left: 6.5vw;
	padding-right: 12vw;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	flex-wrap: wrap;
} 

#scroll-account {
	width: 98vw;
	margin-left: 6vw;
	padding-right: 12vw;
}

.panels:after {
  content:'';
  width:100%;
  height:15%;
  position:absolute;
  left:0;
  top: 61vh;
  /*background:linear-gradient(transparent, mintcream 7vh);*/
	/*background:linear-gradient(transparent, mintcream 4vh);*/
  /*background:linear-gradient(transparent, black 14vh);*/
  pointer-events: none;
  z-index: 40;
}

.panel-container {
	/*height: 233;*/
	height: 377px;
	/*width: 144px*/
	width: 233px; 
	margin: 16px;
	padding: 5px;
	/*border: 3px solid coral;*/
	/*border: 3px solid darkorange;*/
	/*border: 3px solid darkseagreen;*/
	/*border: 3px solid aquamarine;*/
	/*border: 3px solid cadetblue;*/
	/*border: 3px solid chocolate;*/
	/*border: 3px solid darkcyan;*/
	/*border: 3px solid lightseagreen;*/
	/*border: 3px solid mediumaquamarine;*/
	/*border: 3px solid sandybrown;*/
	/*border: 3px solid seagreen;*/
	/*border: 3px solid sienna;*/
	/*border: 3px solid tan;*/
	/*border: 3px solid teal;*/
	border-radius: 8px;
	box-shadow: -2px 2px 10px black;
	/*opacity: 0.9;*/

	/*border: 3px solid wheat;*/
	/*background: aliceblue;*/
	/*background: azure;*/
	background: mintcream;
	/*background: whitesmoke;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.panel-header {
	/*position: absolute;*/
	margin-top: -175px;
	display: flex;
}

.panel-title {
	/*margin: 0;*/
	/*font:	18px impact, "arial black";*/
	/*position: absolute;*/
	margin-top: -64px;
	color: moccasin;
	text-shadow: -2px 2px 10px black;
	font: 40px georgia, palantino, bookman, garamond;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	/*font: 20px "Segoe UI Web (West European)";
	font: 20px Segoe UI;
	font: 20px -apple-system;
	font: 20px BlinkMacSystemFont;
	font: 20px Roboto;
	font: 20px Helvetica Neue;*/
}

.panel-img {
	height: 144px; 
	/*width: 233px;*/
	width: 218px;
	border-left: solid chocolate 15px;
	border-left: solid peru 15px;
	/*box-shadow: 2px 2px 3px dimgray;*/
}

.panel-info {
	height: 144px;
	width: 233px;
	/*margin: 5px;*/
	margin-top: 8px;
	border-top: 2px solid chocolate;
	border-bottom: 2px solid chocolate;
	padding: 2px;
	font: 15px arial, helvetica, "trebuchet ms", verdana;
	/*font-family: 'Raleway', sans-serif;*/
	/*font-weight: 400;*/
	display: flex;
	align-items: center;
	flex-wrap: wrap;
} 

.panel-shrink {
	-webkit-animation: shrinkify 512ms 32ms 1 forwards;
	-moz-animation: shrinkify 512ms 32ms 1 forwards;
	-ms-animation: shrinkify 512ms 32ms 1 forwards;
	-o-animation: shrinkify 512ms 32ms 1 forwards;
	animation: shrinkify 512ms 32ms 1 forwards;
}

@-webkit-keyframes shrinkify { to { height: 0px; margin: 0px; padding: 0px; } }
@-ms-keyframes shrinkify { to { height: 0px; margin: 0px; padding: 0px; } }
@-moz-keyframes shrinkify { to { height: 0px; margin: 0px; padding: 0px; } }
@-o-keyframes shrinkify { to { height: 0px; margin: 0px; padding: 0px; } }
@keyframes shrinkify { to { height: 0px; margin: 0px; padding: 0px; } }

/********************************************/
/* alerts panel */
/********************************************/
.alert-container {
	width: 100%;
	/*height: 62px;*/
	top: 0px;
	z-index: 500;
}

#alert-panel {
	height: 0px;
	width: 80%;
	max-width: 512px;
	margin: auto; 
	margin-top: -16px;
	padding: 4px 16px;
	background: mintcream;
	box-shadow: -2px 2px 10px black;
	border-radius: 0px 0px 5px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/*overflow: overlay;*/
	overflow: hidden;
	z-index: 200;
	-webkit-transition: height 600ms, margin-top 400ms;
	-moz-transition: height 600ms, margin-top 400ms;
	-ms-transition: height 600ms, margin-top 400ms;
	-o-transition: height 600ms, margin-top 400ms;
	transition: height 600ms, margin-top 400ms;
}

#alert-panel.show {
	height: 62px;
	margin-top: 0px;
}

#alert-icon { 
	color: gold; 
	text-shadow: 0px 0px 5px black;
}

#alert-message {
	margin: auto;
	font-family: 'Raleway', sans-serif;
  font-weight: 400;
	font-size: 1rem;
	/*color: lightgreen; */
	/* color: springgreen; */
	/* color: lightsalmon; */
	/* color: tomato; */
	/* color: orangered; */
	/*color: gold;*/
	color: limegreen;
}

/********************************************/
/* menu orders panel */
/********************************************/
.tag-txt {
	margin: 0px 3px;
	/*color: mintcream;*/
	/*color: moccasin;*/
	/*color: floralwhite;*/
	/*color: gainsboro;*/
	/*color: gold;*/
	/*color: rosybrown;*/
	color: burlywood;
}

.tag-calc { 
	width: 118px;
	height: 90px;
	/* total bar */
	/*background: mediumaquamarine;*/
	background: sienna;
	/*background: peru;*/
	/*background: olivedrab;*/
	/*background: olive;
	background: firebrick;*/
	/*background: chocolate;*/
	/*background: linear-gradient(0.45turn, gold, firebrick 50%, darkslategray);*/
	/*background: linear-gradient(0.07turn, saddlebrown 10%, sienna 84%, chocolate);*/
	/*background: linear-gradient(0.07turn, maroon 5%, firebrick, brown);*/
	padding: 30px 6px 12px 6px;
	/* skewed total */
	/*margin-top: 20px;*/
	margin-left: -14px;
	padding: 5px;
	transform: skew(5deg, -5deg);
	box-shadow: 2px 3px 10px darkslategray;
}

.tag-p {
	text-align: end;
	margin: auto;
	font-size: 0.94rem;
	font-weight: 100;
}

.tag-sub { 
	font-weight: bold;
	/*font-size: 1.08rem;*/
	font-size: 1rem;
}

.tag-tot { 
	font-size: 2rem; 
	font-weight: bold;
}

/*#review-h { font-size: 2rem; }*/

#orders-msg { 
	margin-left: 2px;
	display: none;
	text-align: center;
	color: peru; 
	font-size: 1.2rem;
	text-shadow: 2px 2px 2px lightgrey, 1px 1px 8px paleturquoise;
	font-family: "ar julian", "perpetual titling mt", "times new roman";
}

#orders-msg.show { display: flex; }

#load-products-panel,
#load-orders-panel { 
	/*height: 90%;*/
	height: 95%;
	width: 100%;
	display: none; 
}

#load-products-panel.show,
#load-orders-panel.show { 
	display: flex;
	/*-webkit-animation: fadeload 2.6s 3s 1 forwards;
	-moz-animation: fadeload 2.6s 3s 1 forwards;
	-ms-animation: fadeload 2.6s 3s 1 forwards;
	-o-animation: fadeload 2.6s 3s 1 forwards;
	animation: fadeload 2.6s 3s 1 forwards;*/
}

/*@-webkit-keyframes fadeload { from { opacity: 1; } to { opacity: 0; } }
@-moz-keyframes fadeload { from { opacity: 1; } to { opacity: 0; } }
@-ms-keyframes fadeload { from { opacity: 1; } to { opacity: 0; } }
@-o-keyframes fadeload { from { opacity: 1; } to { opacity: 0; } }
@keyframes fadeload { from { opacity: 1; } to { opacity: 0; } }*/

.divo-load,
#divo-orders {
	display: flex;
	color: burlywood;
	color: mediumaquamarine;
	/*color: mediumturquoise;*/ 
	text-shadow: 2px 2px 4px burlywood,
		1px 1px 8px moccasin;
}

.o-load1,
#o-orders1 { font-size: 2px; animation: loadingA 1.4s alternate infinite; }

@keyframes loadingA {
	0% { font-size: 2px; }
	100% { font-size: 64px; } 
}

.o-load2,
#o-orders2 { font-size: 2px; animation: loadingB 1.4s 256ms alternate infinite; }
@keyframes loadingB { 0% { font-size: 2px; } 100% { font-size: 64px; } }
.o-load3,
#o-orders3 { font-size: 2px; animation: loadingC 1.4s 512ms alternate infinite; }
@keyframes loadingC { 0% { font-size: 2px; } 100% { font-size: 64px; } }
.o-load4,
#o-orders4 { font-size: 2px; animation: loadingD 1.4s 768ms alternate infinite; }
@keyframes loadingD { 0% { font-size: 2px; } 100% { font-size: 64px; } }

.divh-load,
.divh-orders {
	width: inherit;
	height: inherit;
	top: inherit;
	left: inherit;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.h-load,
.h-orders { 
	font-size: 2rem;
	/*color: burlywood;*/
	color: peru;
	/*text-shadow: 2px 2px 2px lightgrey, 1px 1px 8px beige;*/
	 text-shadow: 2px 2px 2px lightgrey, 1px 1px 8px paleturquoise;
}

.orders-container {
	width: 100%;
	/*width: 233px; */
	margin: 16px;
	/*padding: 5px;*/
	padding: 6px 24px;
	border-radius: 8px;
	box-shadow: -2px 2px 10px black;
	background: mintcream;
	display: flex;
	justify-content: center;
	/*justify-content: flex-end;*/
	align-items: center;
	flex-wrap: wrap;
	overflow: overlay;
}


/*@media only screen and (max-width: 640px) {
	.orders-container { justify-content: center; }	
}*/

.oitems {
	margin: auto; 
	margin-left: 4px;
	/*color: moccasin;*/
	/*color: darkseagreen;*/
	/*color: antiquewhite;*/
	color: floralwhite;
	text-shadow: 1px 1px 2px black;
	z-index: 2;
}

.oitem-div {
	margin: 3px;
	/*border: 5px solid peru;*/
	border: 5px solid darkseagreen;
	display: flex;
	justify-content: flex-end; 
	align-items: flex-start;
	flex-direction: column-reverse;
}

.oitem-iddiv {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.oitem-orderid {
	/*color: saddlebrown;*/
	/*color: sienna;*/
	/*color: darkolivegreen;*/
	/*color: olivedrab;*/
	color: seagreen;
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	font-weight: 300;
	margin: auto;
}

.oitem-img {
	width: 100px;
	height: 100px;
	padding: 0px;
}

.oitem-bar1 {
	height: 6px;
	width: 92px;
	background: peru;
	margin-top: 15px;
	/*margin-top: 13px;*/
	z-index: 1;
}

.oitem-bar2 {
	height: 36px;
	width: 72px;
	/*background: yellowgreen;
	background: cadetblue;
	background: darkolivegreen;*/
	background: darkslategray; 
	margin-top: 5px;
}

.oitem-bar3 { 
	height: 64px;
	width: 12px;
	background: burlywood; 
	margin-top: 0px; 
	margin-left: 6px;
	z-index: 1;
}

.oitem-bar4 {
	height: 1px;
	width: 100%;
	margin: 16px 24px;
	color: brown;
	/*background: linear-gradient(0.2turn, transparent, sienna, yellowgreen, sienna, transparent);*/
	/*background: linear-gradient(120deg, transparent, chocolate 72%, yellowgreen);*/
	background: linear-gradient(0.2turn, transparent, chocolate, chocolate, chocolate, transparent);
}

.oitem-name { 
	font-weight: 100;
	margin-top: 4px;
	/*font-size: 1.2rem; */
	font-size: 1.3rem;
}

.oitem-price { 
	margin-top: 24px;
	margin-left: 20px;
	font-size: 1rem; 
	font-family: sans-serif;
	font-weight: 100;
/*	color: cadetblue;
	color: indianred;
	color: salmon;
	color: olivedrab;
	color: powderblue;
	color: rosybrown;*/
	color: moccasin;
} 

.oitem-qty {
	margin-top: 68px; 
	font-size: 1.6rem;
	font-family: arial;
	font-weight: 100;
	/*color: red;
	color: darkorange;*/
	color: gold;
} 

.oitem-num {
	margin-top: 12px;
	opacity: 0.75;
	font-size: 6rem;
	padding-right: 0px; 
	align-self: flex-end;
/*	color: ghostwhite;
	color: moccasin;
	color: burlywood;
	color: mediumturquoise;
	color: mediumseagreen;
	color: mediumaquamarine;
	color: orangered;*/
	color: floralwhite;
	z-index: 1;
}

/********************************************/
/* user data panel */
/********************************************/
.sm-panel {
	height: 144px;
	width: 286px;
	/*display: flex;*/
	justify-content: space-between;
	align-items: normal;
	flex-wrap: wrap;
	overflow: hidden;
	/* setting this makes overflow work */
	z-index: 0;
}

.sm-panel-container {
	/*position: absolute;*/
	height: 140px;
	width: 82vw;
	max-width: 286px;
	border-top: solid 2px darkcyan;
	border-bottom: solid 2px darkcyan;
	z-index: 30;
}

.sm-panel-overflow {
	height: 38px;
	width: 284px;
	margin-top: 84px;
	overflow: hidden;
}

.sm-panel-scroll {
	height: 56px;
	width: 284px;
	overflow-x: scroll;
	scroll-behavior: smooth;
}

.sm-panel-title { 
	margin-top: 5px; 
	margin-left: 6px;
	/*border-bottom: solid 2px saddlebrown;*/
	/*color: saddlebrown;*/
	color: cadetblue;
	opacity: 0.5;
	font: 48px arial, helvetica, "trebuchet ms", verdana;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	z-index: 20;
}

.sm-panel-text {
	height: 38px;
	/*width: 276px;*/
	display: flex;
	align-items: center;
	margin: 0px 4px;
	margin-top: 84px;
	font-size: 24px;
	/*font-size: calc( 12px + (24 – 12) * ( (100vw – 400px) / ( 800 – 400) ));*/
	color: darkcyan;
	margin-left: 6px;
	overflow: hidden;
	transition: opacity 1s;
}

.sm-data {
	margin-top: 0px;
	width: 500px;
}

/* option expands size of user data div if too long to fit in space */
/* requires removal of overflow from sm-panel-scroll & sm-panel-overflow */
/*.sm-data:hover {
	height: 114px;
	width: 276px;
	background: lightblue;
	margin-top: -72px;
	margin-left: -5px;
	padding: 0px 10px;
	opacity: 1;
}*/

.sm-data.scroll {
	-webkit-animation: autoscroll 10s 2s infinite;
	-moz-animation: autoscroll 10s 2s infinite;
	-ms-animation: autoscroll 10s 2s infinite;
	-o-animation: autoscroll 10s 2s infinite;
	animation: autoscroll 10s 2s infinite;
}

@-webkit-keyframes autoscroll { from { margin-left: 6px; } to { margin-left: -220px; } }
@-ms-keyframes autoscroll { from { margin-left: 6px; } to { margin-left: -220px; } }
@-moz-keyframes autoscroll { from { margin-left: 6px; } to { margin-left: -220px; } }
@-o-keyframes autoscroll { from { margin-left: 6px; } to { margin-left: -220px; } }
@keyframes autoscroll { 
	0% { margin-left: 6px; } 
	/*25% { margin-left: 6px; }*/
	50% { margin-left: -200px; }
	60% { margin-left: 6px; }
	/*100% { margin-left: 6px; } */
}

.sm-panel-img {
	height: 160px;
	width: 160px;
	margin-top: -8px;
	/*margin-left: 164px;*/
	margin-left: 126px;
	/*opacity: 0.3;*/
	z-index: 20;
}

.sm-panel-info {
	/*background: initial;*/
	color: cadetblue;
	background: lightblue;
	background: powderblue;
	/*width: 276px;*/
	width: 296px;
	border: none;
	/*border-bottom: solid 2px darkcyan;*/
	margin-top: 84px;
	margin-left: -5px;
	padding: 4px 0px;
	text-indent: 10px;
	font-size: 26px;
	opacity: 0.3;
	/*visibility: hidden;*/
	display: none;
	z-index: 50;
}

.sm-panel-info:focus { opacity: 0.6; }

.xs-panels {
	/*background: burlywood;*/
	height: 38px;
	width: 296px;
	margin-top: 86px;
	margin-left: -5px;
	opacity: 1;
	transition: opacity 1s;
	z-index: 10;
}

.sm-panel-text.select,
.xs-panels.select { opacity: 0; }

.sm-panel-info.select { display: block; }

.span-p { font-style: italic; }

.panel-p { margin: 3px; }

.weight-p {
	color: moccasin;
	font-family: sans-serif;
	margin-left: 18px;
	text-shadow: 1px 1px 2px black;
	/*text-shadow: 1px -1px 0px moccasin;*/
}

.cost-p {
	color: moccasin;
	font-family: sans-serif;
	margin-left: 128px;
	text-shadow: 1px 1px 2px black;
	/*text-shadow: 1px -1px 0px moccasin;*/
}

.panel-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px;
}

.form-btn {
	/*background: teal;*/
	/*background: chocolate;*/
	/*background: mediumaquamarine;*/
	background: mediumseagreen;
	color: moccasin;
	margin: 3px;
	border: none;
	font: 20px arial, helvetica, "trebuchet ms", verdana;
	border-radius: 3px;
	text-align: center;
	/*text-shadow: -2px 2px 3px black;*/
	transition: background 0.1s, transform 0.1s;
}

.form-btn:hover {
	background: chocolate;
	/*background: tomato;*/
	transform: scale(1.1, 1.1);
}

.form-btn:active {
	/*background: mediumaquamarine;*/
	background: orange;
}

.xs-panel-1 {
	background: burlywood;
}

.xs-panel-2 {
	background: sienna; /*peru;*/
}

.xs-panel-3 {
	background: saddlebrown;
}

.nextPay {
	height: 38px;
	width: 92px;
	margin-top: 82px;
	padding: 0px;
	color: gray;
	background: powderblue;
	border: none;
	/*border-bottom: solid 2px darkcyan;*/
	/*margin-top: 84px;*/
	/*margin-left: -5px;*/
	padding: 4px 0px;
	text-indent: 10px;
	font-size: 26px;
	font-size: 16px;
	font-weight: bold;
	opacity: 0.5;
	display: none;
	/*z-index: 50;*/
}

.nextPay.select { display: inline-block; }
.nextPay:focus, #payG:focus { opacity: 0.8; }
.nextPay::placeholder { color: gray; }
#payG { padding: 0px; }

.btn-container {
	height: 25px;
	width: 26px;
	margin-top: 110px;
	margin-left: 256px;
	overflow: hidden;
	box-shadow: 1px 1px 3px gray;
	transition: width 0.2s, margin-left 0.2s;
	z-index: 50;
}

.editClick { 
	/*margin-left: 256px;*/
	margin-left: 86%; 
	width: 26px; 
}
.editClick.select { 
	/*margin-left: 282px;*/
	margin-left: 95%;
	width: 0px; 
}

.fwdClick,
.saveClick { 
	/*margin-left: 282px;*/
	margin-left: 95%;
	width: 0px; 
}
.fwdClick.select,
.saveClick.select	{ 
	/*margin-left: 256px;*/
	margin-left: 86%;
	width: 26px; 
}

.fwder {
	height: 25px;
	width: 26px;
	color: moccasin;
	font-size: 20px;
}

.sm-btn {
	/*position: absolute;*/
	display: flex;
	justify-content: center;
	align-items: center;
	background: cadetblue;
	border: solid 3px darkcyan;
	padding: 0px;
	/*box-shadow: 1px 1px 3px gray;*/
}

.sm-btn-img {
	width: 18px;
	height: 17px;
	padding: 1px;
}

/*.editor { 
	visibility: visible;
	transition: transform 2s, visibility 0.678s; 
}

.editor.select { 
	transform: rotateY(-180deg);
	visibility: hidden; 
}

.saver { 
	visibility: hidden; 
	transition: transform 2s, visibility 0.678s;
}
.saver.select { 
	transform: rotateY(180deg);
	visibility: visible; 
}*/

.add-sub {
	font-size: 22px;
}

.add-btn {
	/*border-radius: 0px 10px 10px 0px;*/
}

.sub-btn {
	width: 22px;
	/*border-radius: 10px 0px 0px 10px;*/
}

.input-amt {
	width: 72px;
	/*width: 44px;*/
	font-size: 25px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
} 

/********************************************/
/* about panel */
/********************************************/
#about-container {
	/*height: 100%;*/
	width: 100%;
	/*max-height: 512px;*/
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

/*#about-container::after {
	content: attr(about-donate);
}*/

.about-media {
	font-size: 2rem;
	/*padding: 0.4rem;*/
	padding: 0.2rem 0.6rem;
	color: aquamarine;
	color: lightseagreen;
	color: mediumaquamarine;
	color: mediumseagreen;
	color: mediumturquoise;
	color: mintcream;
	color: palegreen;
	color: burlywood;
	color: chocolate;
	color: oldlace;
	color: orange;
	color: orangered;
	color: palevioletred;
	color: silver;
	color: tomato;
	color: turquoise;
	color: whitesmoke;
	color: floralwhite;
}

.about-font { 
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
  text-shadow: 2px 2px 2px black;
  color: floralwhite;
  color: mediumseagreen;
}

.about-h { 
	width: 100%;
	max-width: 262px;
	text-align: center; 
	margin-top: 1rem;
	margin-bottom: 0rem;
}

#about-connect {
	/*margin-top: 2rem;*/
	margin-top: 1rem;
	/*margin-bottom: -1rem;*/
	/*margin-bottom: -2rem;*/
}

.about-box {
	background: brown;
	color: floralwhite;
	/*opacity: 0.8;*/
	opacity: 0.86;
}

.about-ul {
	list-style-type: none; 
	margin-top: 0.4rem;
	padding: 0.4rem 1rem;
	text-shadow: none;
}

#about-icons {
	max-width: 210px;
	padding: 0.4rem 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/*margin-top: 0px;*/
	margin: 0.4rem auto;
}

#about-donate {
	width: 84%;
	max-width: 280px;
	text-align: center;
	/*margin: auto;*/ 
	margin: 2rem auto;
	/*align-self: flex-end;*/
	bottom: 1.4rem;
	/*margin-bottom: 1rem;*/
  font-weight: 300;
  font-size: 0.6rem; 
}

.about-app-container { 
	margin: auto;
	/*margin-top: -0.4rem;*/
	margin: 1.4rem; 
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.about-app-div {
	background: brown;
	color: floralwhite;
	width: 9rem;
	height: 2.8rem;
	margin: 0.2rem;
	display: flex;
	border-radius: 5px;
}

.about-app-txt {
	font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 0.6rem;
  margin: auto;
}

.about-app-p { margin: auto; }

.about-app-title { 
	font-size: 1rem; 
	margin: auto;
}

/*#about-fb { color: lightskyblue; color: deepskyblue; color: dodgerblue; }
#about-tw { color: deepskyblue; }
#about-rs { 
	color: orangered; 
	color: bisque; 
	color: coral; 
	color: lightcoral; 
	color: lightsalmon; 
}
#about-ig { 
	height: 24px;
	height: 1.5rem;
	font-size: 1.68rem;
	color: black;
	background: linear-gradient(0.1turn, gold, red, blueviolet); 
	background: linear-gradient(0.1turn, palegoldenrod, palevioletred, mediumorchid);
	margin-top: 7px;
	padding: 5px;
	padding-left: 4px;
	border-radius: 16px;
}

#about-gp { color: palevioletred; color: orchid; color: hotpink; color: lightpink; }
#about-pn { color: darkred; color: crimson; color: indianred; }
#about-pt { 
	background: skyblue; 
	background: midnightblue;
	background: royalblue;
	color: tomato; 
	color: lightsalmon;
}

#about-ap { color: darkturquoise; }
#about-pl { 
	height: 20px;
	width: 21px;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	padding: 8px 6px;
	padding-top: 2px;
}*/

/********************************************/
/* Sign-up / Log-in menu buttons */
/********************************************/
/*#credsDiv {
	position: absolute;
	display: flex; 
	width: 100vw; 
	margin-top: -7.5rem;
	justify-content: center;

	-webkit-transition: margin-top 1s;
	-ms-transition: margin-top 1s;
	-moz-transition: margin-top 1s;
	-o-transition: margin-top 1s;
	transition: margin-top 1s;
}

#credsDiv.select { 
	margin-top: -90vh;
} 

#credsForm {
	background: rgba(255,235,125,0); 
	width: 377px; 
	height: 0px;
	display: flex;
	justify-content: center;

	-webkit-transition: height 1s, background 0.2s;
	-ms-transition: height 1s, background 0.2s;
	-moz-transition: height 1s, background 0.2s;
	-o-transition: height 1s, background 0.2s;
	transition: height 1s, background 0.2s;
}

#credsForm.select {
	height: 90vh;
	max-height: 610px; 
	background: rgba(233,210,125,0.8);
	z-index: 80;
} 

#creds-ul {
	display: flex; 
	height: 2.7rem;
	justify-content: center;
	margin-top: -3rem;
	padding-left: 0px;
}

.creds { 
	height: 4rem; 
	width: 10rem;
	border: none;
	color: darkcyan;
	text-decoration: none; 
}

.credsBtn { 
	height: 4rem; 
	width: 10rem; 
	z-index: 150; 
	border-color: transparent;
	color: moccasin; 
	font-size: 1.8rem;
	font-family: "ar julian", "perpetual titling mt", "times new roman";
	font-size-adjust: initial;
}

.join-login { 
	margin: 70px 0px; 
	text-align: center; 
	display: flex;
	visibility: hidden;
	flex-wrap: wrap;
	align-items: center; 
	font-size: 24px;
	font-family: "ar julian", "perpetua titling mt", stencil, cambria, arial;
	justify-content: center;
}

.form-div { width: 200px; }
.form-input { 
	margin: 12px; 
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.form-info,
.form-info::placeholder { 
	background: salmon;
	color: moccasin; 
	text-align: center;
	border: dotted 1px moccasin;
}
 
.form-info:focus,
.form-info:focus::placeholder { 
	outline: none; 
	background: tomato;
}

#join { background: salmon; }
#login { background: tomato; }

#join.select,
#login.select {
	background: darkcyan; 
}

#logout { 
	background: indianred;
	background: yellowgreen;
	-webkit-text-fill-color: moccasin;
	margin-left: -80px;
	width: 320px;
}
 
#joinForm { 
	display: flex; 
	flex-wrap: wrap;
	align-items: center;
	align-self: center;
	justify-content: center; 
	color: lightseagreen;
}

.joinInput {
	height: 38vh;
	width: 40vw;
	font-size: 2em;
	margin: 0px; 
	padding: 0px 2vw;
	display: flex;
	justify-content: center;
	align-items: center; 
	background: mintcream; 
}

#loginForm { 
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center; 
	color: lightseagreen;
}

#loDiv { 
	visibility: hidden;
}

#logoutDiv {
	color: coral;
	visibility: hidden;
}

#failedJoin,
#failedLogin { color: tomato; }

#failedJoin.select,
#failedLogin.select {
	visibility: visible;
	animation: badlogin 2.6s 3s 1 forwards;
}

@-webkit-keyframes badlogin { from { opacity: 1; } to { opacity: 0; } } 
@-o-keyframes badlogin { from { opacity: 1; } to { opacity: 0; } }
@keyframes badlogin { from { opacity: 1; } to { opacity: 0; } }

.jo.select,
.li.select,
.lo.select,
#joinDiv.select,
#loginDiv.select,
#loDiv.select,
#logoutDiv.select { visibility: visible; }

.formBtn { 
	height: 4rem; 
	width: 10rem; 
	background: mediumseagreen; 
	color: navajowhite;
	border-color: transparent; 
	font-size: 2.25rem;
	font-family: "ar julian", "perpetua titling mt", stencil, cambria, arial;

}*/

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#creds-container {
	/*background: rgba(10,10,0,1);*/
	/*height: 4vh;*/
	/*height: 17vh;*/
	/*height: 11rem;*/
	/*height: 10.8rem;*/
	height: 4rem;
	width: 100%;
	/*top: 96vh;*/
	/*top: 83vh;*/
	/*top: 53.8rem;*/
	top: calc(100% - 10.4rem);
	overflow: hidden;
	/*z-index: 700;*/
	z-index: 110;
	position: fixed;

	-webkit-transition: top 600ms, height 600ms 100ms;
	-moz-transition: top 600ms, height 600ms 100ms;
	-ms-transition: top 600ms, height 600ms 100ms;
	-o-transition: top 600ms, height 600ms 100ms;
	transition: top 600ms, height 600ms 100ms;
}

#creds-container.select {
	/*height: 95vh;*/
	height: 91vh;
	max-height: 650px;
	/*top: 0vh;*/
	top: 2vh;
}

.test-bar {
	background: seagreen;
	color: moccasin;
	font-size: 1.4rem;
	height: 4vh;
	width: 100%;
	top: 0vh;
}

#credsDiv {
	/*position: absolute;*/
	/*display: flex; */
	height: 100%;
	width: 100%; 
	/*margin-top: -7.5rem;*/
	/*justify-content: center;*/

	-webkit-transition: margin-top 1s;
	-ms-transition: margin-top 1s;
	-moz-transition: margin-top 1s;
	-o-transition: margin-top 1s;
	transition: margin-top 1s;
}

#credsDiv.select { 
	/*margin-top: -90vh;*/
} 

#creds-header {  }
#creds-body {  }

#credsForm {
	background: rgba(255,235,125,0); 
	/*background: rgba(233,210,125,0.8);*/
	/*width: 377px; */
	/*height: 0px;*/
	height: 90vh;
	max-height: 610px;
	width: 100vw;
	max-width: 377px;
	margin-top: -2rem;
	/*margin-top: -1.6rem;*/
	/*display: flex;*/
	/*justify-content: center;*/

	-webkit-transition: height 1s, background 0.2s;
	-ms-transition: height 1s, background 0.2s;
	-moz-transition: height 1s, background 0.2s;
	-o-transition: height 1s, background 0.2s;
	transition: height 1s, background 0.2s;
}

#credsForm.select {
	/*height: 90vh;*/
	/*max-height: 610px; */
	background: rgba(233,210,125,0.8);
	/*z-index: 80;*/
} 

/*#creds-ul {
	display: flex; 
	height: 2.7rem;
	justify-content: center;
	margin-top: -3rem;
	padding-left: 0px;
}*/

.creds { 
	height: 4rem; 
	width: 10rem;
	/*border: none;*/
	/*color: darkcyan;*/
	/*text-decoration: none; */
}

.credsBtn { 
	/*height: 4rem; */
	height: inherit;
	/*width: 10rem; */
	width: inherit;
	z-index: 150; 
	border-color: transparent;
	color: moccasin; 
	font-size: 1.8rem;
	font-family: "ar julian", "perpetual titling mt", "times new roman";
	font-size-adjust: initial; /*inherit*/
}

.join-login { 
	margin: auto;
	/*margin: 70px 0px; */
	text-align: center; 
	/*display: flex;*/
	visibility: hidden;
	/*flex-wrap: wrap;*/
	/*align-items: center; */
	font-size: 24px;
	font-family: "ar julian", "perpetua titling mt", stencil, cambria, arial;
	/*justify-content: center;*/
}

.form-div { width: 200px; }
.form-input { 
	margin: 12px; 
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.form-info,
.form-info::placeholder { 
	background: salmon;
	color: moccasin; 
	text-align: center;
	border: dotted 1px moccasin;
} 

.form-info:focus,
.form-info:focus::placeholder { 
	outline: none; 
	background: tomato;
}

#join { background: salmon; }
#login { background: tomato; }

#join.select,
#login.select {
	background: darkcyan; 
}

#logout { 
	background: indianred;
	background: yellowgreen;
	-webkit-text-fill-color: moccasin;
	/*margin-left: -80px;*/
	/*width: 320px;*/
}

#joinForm { 
	display: flex; 
	flex-wrap: wrap;
	align-items: center;
	align-self: center;
	justify-content: center; 
	color: lightseagreen;

	-webkit-transition: top 600ms;
	-ms-transition: top 600ms;
	-moz-transition: top 600ms;
	-o-transition: top 600ms;
	transition: top 600ms;
}

/*.joinInput {
	height: 38vh;
	width: 40vw;
	font-size: 2em;
	margin: 0px; 
	padding: 0px 2vw;
	display: flex;
	justify-content: center;
	align-items: center; 
	background: mintcream; 
}*/

#loginForm { 
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center; 
	color: lightseagreen;
}

#loDiv { 
	visibility: hidden;
	width: 20rem;
}

#logoutDiv {
	color: coral;
	visibility: hidden;
}

#failedJoin,
#failedLogin { color: tomato; }

#failedJoin.select,
#failedLogin.select {
	visibility: visible;
	animation: badlogin 2.6s 3s 1 forwards;
}

@-webkit-keyframes badlogin { from { opacity: 1; } to { opacity: 0; } }
/*@-ms-keyframes badlogin { from { opacity: 1; } to { opacity: 0; } }
@-moz-keyframes badlogin { from { opacity: 1; } to { opacity: 0; } }*/
@-o-keyframes badlogin { from { opacity: 1; } to { opacity: 0; } }
@keyframes badlogin { from { opacity: 1; } to { opacity: 0; } }

.jo.select,
.li.select,
.lo.select,
#joinDiv.select,
#loginDiv.select,
#loDiv.select,
#logoutDiv.select { visibility: visible; }

.formBtn { 
	/*height: 4rem; */
	height: 3rem;
	/*width: 10rem; */
	width: 9rem;
	background: mediumseagreen; 
	color: navajowhite;
	border-color: transparent; 
	/*font-size: 2.25rem;*/
	font-size: 1.8rem;
	font-family: "ar julian", "perpetua titling mt", stencil, cambria, arial;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/********************************************/
/* menu selector arrows */
/********************************************/
#arrow-container { width: 100vw; }

.arrow-div {
	height: 8rem;
	width: 100vw; 
	/*position: absolute;*/
	/*margin-top:	calc(100vh - 8rem);*/ /**/
	margin-top: -8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrows {
	width: 0;
	height: 0;
	border-top: 2.4rem solid transparent;
	border-bottom: 2.4rem solid transparent;
	/*margin: 1.3rem 0.5rem;*/
}

.awesome-arrows {
	z-index: 200;
	color: rgba(255,191,0,1); 
	background: orange;
	text-shadow: 2px 2px 4px rgba(245,150,0,1);
	box-shadow: 2px 0px 8px darkorange, -2px 0px 8px darkorange;
	/*color: moccasin;
	background: tomato;
	opacity: 0.88;*/
	font-size: 3rem;
	border-radius: 28px;
	margin: 1.4rem 1rem;
	/*margin-top: 1.4rem;
	margin-bottom: 0rem;*/
	padding: 0.1rem 0.8rem;

	-webkit-transition: background 1s, color 1s, box-shadow 1s, margin 500ms;
	-moz-transition: background 1s, color 1s, box-shadow 1s, margin 500ms;
	-ms-transition: background 1s, color 1s, box-shadow 1s, margin 500ms;
	-o-transition: background 1s, color 1s, box-shadow 1s, margin 500ms;
	transition: background 1s, color 1s, box-shadow 1s, margin 500ms;
}

/*.awesome-arrows.hide { 
	color: rgba(255,191,0,1); 
	background: orange;
	text-shadow: 2px 2px 4px rgba(245,150,0,1);
	box-shadow: 2px 0px 8px darkorange, -2px 0px 8px darkorange;
	margin: 1.4rem 1rem;
}*/

#left-arrow {
	/*border-right: 3rem solid rgba(255,191,0,1);*/
	/*border-right: 2.4rem solid rgba(255,191,0,1);*/
	justify-content: flex-start;
	visibility: hidden;
	/*margin-top: 2.4rem;*/
}

#right-arrow {
	/*border-left: 3rem solid rgba(255,191,0,1);*/
	/*border-left: 2.4rem solid rgba(255,191,0,1);*/
	justify-content: flex-end;
	visibility: visible;
	/*margin-top: 2.4rem;*/
}

/* show arrows if you can move left or right in menu */
#left-arrow.display { visibility: visible; }
#right-arrow.display { visibility: hidden; }

/*#left-arrow.click {}
#right-arrow.click {}*/

/* left-right arrows change color when clicked */
#left-arrow:active { border-right-color: rgba(255,73,0,1); }
#right-arrow:active { border-left-color: rgba(255,73,0,1); }

/********************************************/
/* shopping bag */
/********************************************/
/*#cart { 
	height: 0px;
	width: 0px;
	top: 0px;
	right: 0px;
	padding: 10px 3px 4px 3px;
	visibility: hidden;
	overflow: hidden;
	background: rgb(255, 146, 0); 
	background: salmon;
	border-radius: 5px;
	box-shadow: 2px 3px 10px darkslategray; 
	display: flex;
	justify-content: center;
	align-items: center; 
	z-index: 120;
	transition: height 0.4s, width 0.4s, transform 0.4s, right 0.4s, top 0.4s;
}

#cart.show {
	visibility: visible;
	height: 72px;
	width: 72px;
	right: 19px;
	transform: scale(1.1, 1.1);
}

#cart.open { 
	top: 447px; 
	right: 264px;
}

#cart.empty { 
	top: 43px; 
	right: 264px;
}

#cart-amt { 
	left: 25px;
	width: 50px;
	background: initial; 
	border: none;
	font: 20px arial, helvetica, "trebuchet ms", verdana;
	text-align: center;
	transform: rotate(-19deg) skew(-19deg);
}

#shopping-bag { 
	height: 0px;
	width: 346px;
	top: 0px;
	right: 15px;
	background: orange;
	border-radius: 0px 0px 5px 5px; 
	background: linear-gradient(orange, tomato 64vh); 
	overflow: hidden;
	z-index: 50;
	transition: height 0.4s;
}

#shopping-bag.open {
	height: 560px;
	border: 1px dotted moccasin;
}

#shopping-bag.empty { height: 156px; }

#scroll-shopping { 
	height: 372px;
	width: 346px; 
	margin-left: 8px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: flex-start;
}
*/
/********************************************/
/* shopping bag items */
/********************************************/
/*.shopping1 {

}

.shopping2 {
	border-top: solid 2px darkcyan;
	border-bottom: solid 2px darkcyan; 
	height: 140px;
	width: 114px;
	display: flex;
	align-content: start;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.shopping3 {
	position: absolute;
	margin-top: 86px;
	margin-left: 15px;
	width: 286px; 
}

.shopping-img { 
	height: 92px;
	height: 144px;
	width: 150px;
	border-left: solid 16px chocolate;
	object-fit: cover;
	object-position: 100% 0;
}

.shopping-wgt { 
	left: 34px;
	margin: 3px;
	margin-left: 18px;
	color: moccasin;
	text-shadow: 1px 1px 2px black;
	z-index: 2;
}

.shopping-span {
	display: flex;
	align-items: flex-start;
}

.shopping-txt {
	margin: 0px 3px;
	color: darkslategray;
}

.shopping-num {
	width: 24px;
	text-align: right;
	border: none;
	background: inherit;
}

.shopping-head {
	width: 100%;
	margin: 0px;
	margin-left: -12px;
	font-size: 3.2em;
}

.item-price { margin: 10px 3px 0px 0px; }

.in-bag { font-size: 20px; }

.in-stock {
	font-size: 12px;
	color: cadetblue;
}

.in-trash { margin: 110px 0px 0px 256px; } 
.trash-img {  }

#review { 
	height: 138px; 
	width: 0px;
	left: 339px;
	background: mintcream; 
	margin: 412px 0px 0px 7px;
	display: flex;
	justify-content: space-around; 
	border-radius: 5px 0px 0px 5px;
	box-shadow: -2px 2px 10px black;
	overflow: hidden;
	transition: width 0.4s, left 0.4s, margin-top 0.4s;
}

#review.open { 
	width: 339px; 
	left: 0px;
}

#review.empty { margin-top: 8px; }

#review-txt { margin: 7px 0px 0px 7px; }

#review-calc { 
	width: 118px;
	height: 90px; 
	background: mediumaquamarine;
	padding: 30px 6px 12px 6px; 
	margin-top: 20px;
	padding: 5px;
	transform: skew(5deg, -5deg);
	box-shadow: 2px 3px 10px darkslategray;
}

#review-sub { 
	font-weight: bold; 
	font-size: 1rem;
}

.review-p {
	text-align: end;
	margin: auto;
	font-size: 0.94rem;
}

#review-h { font-size: 2rem; }

.review-btn-cls { 
	height: 94px;
	width: 86px;
	background: tomato; 
	top: 30px;
	left: 104px;
	box-shadow: 2px 3px 10px darkslategray;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#review-checkout { display: none; }
#review-checkout.show { display: flex; }

.review-join-login { 
	background: yellowgreen; 
	height: 44px;
	color: moccasin;
	font-size: 1.4rem; 
}

#review-join { display: none; }
#review-login	{ 
	display: none;
	top: 80px;
} 

#review-join.show,
#review-login.show { display: flex; } 

#review-order { font-size: 4rem; }

#review-buy {
	background: tomato; 
	top: 12px;
	left: 33px;
	padding: 2px 4px;
	transform: skew(5deg, -5deg);
}

.review-color { 
	color: moccasin; 
}*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/********************************************/
/* shopping bag items (mobile-friendly) */
/********************************************/
#cart { 
	height: 0px;
	width: 0px;
	top: 0px;
	right: 0px;
	padding: 10px 3px 4px 3px;
	visibility: hidden;
	overflow: hidden;
	background: rgb(255, 146, 0); 
	background: salmon;
	border-radius: 5px;
	box-shadow: 2px 3px 10px darkslategray; 
	display: flex;
	justify-content: center;
	align-items: center;
	/*z-index: 60;*/
	z-index: 120;
	transition: height 0.4s, width 0.4s, transform 0.4s, right 0.4s, top 0.4s;
}

#cart.show {
	visibility: visible;
	height: 72px;
	width: 72px;
	right: 19px;
	transform: scale(1.1, 1.1);
}

#cart.open { 
	/*top: 447px;*/
	top: 450px;
	/*right: 264px;*/
	right: 250px;
}

#cart.empty { 
	top: 43px; 
	/*right: 264px;*/
	right: 250px;
}

#cart-amt { 
	left: 25px;
	width: 50px;
	background: initial; 
	border: none;
	font: 20px arial, helvetica, "trebuchet ms", verdana;
	text-align: center;
	transform: rotate(-19deg) skew(-19deg);
}

#shop-container { justify-content: flex-end; }

#shop-container.open {
	position: absolute;
	height: 95vh;
	max-height: 560px;
	width: 100%;
	max-width: 346px;
	top: 0vh;
	z-index: 250;
}

#shopping-bag { 
	/*height: 0px;*/
	height: 0%;
	/*width: 346px;*/
	width: 100%;
	max-width: 346px;
	top: 0px;
	/*right: 15px;*/
	background: orange;
	border-radius: 0px 0px 5px 5px; 
	background: linear-gradient(orange, tomato 64vh); 
	overflow: hidden;
	z-index: 50;
	transition: height 0.4s;
}

#shopping-bag.open {
	/*height: 560px;*/
	/*height: 100%;*/
	height: 93.2%;
	max-height: 560px;
	border: 1px dotted moccasin;
}

#shopping-bag.empty { height: 156px; }

#scroll-shopping { 
	max-height: 375px;
	/*max-height: 346px;*/
	/*height: 372px;*/
	width: 346px; 
	margin-left: 8px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: flex-start;
}

/********************************************/
/* shopping bag items */
/********************************************/
.shopping1 {

}

.shopping2 {
	border-top: solid 2px darkcyan;
	border-bottom: solid 2px darkcyan; 
	height: 140px;
	width: 114px;
	display: flex;
	align-content: start;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.shopping3 {
	position: absolute;
	margin-top: 86px;
	margin-left: 15px;
	width: 286px; 
}

.shopping-img { 
	height: 92px;
	height: 144px;
	width: 150px;
	border-left: solid 16px chocolate;
	object-fit: cover;
	object-position: 100% 0;
}

.shopping-wgt { 
	left: 34px;
	margin: 3px;
	margin-left: 18px;
	color: moccasin;
	text-shadow: 1px 1px 2px black;
	z-index: 2;
}

.shopping-span {
	display: flex;
	align-items: flex-start;
}

.shopping-txt {
	margin: 0px 3px;
	color: darkslategray;
}

.shopping-num {
	width: 24px;
	text-align: right;
	border: none;
	background: inherit;
}

.shopping-head {
	width: 100%;
	margin: 0px;
	margin-left: -12px;
	font-size: 3.2em;
}

.item-price { margin: 10px 3px 0px 0px; }

.in-bag { font-size: 20px; }

.in-stock {
	font-size: 12px;
	color: cadetblue;
}

.in-trash { margin: 110px 0px 0px 256px; } 
.trash-img {  }

#review { 
	height: 138px; 
	width: 0px;
	left: 339px;
	background: mintcream; 
	margin: 412px 0px 0px 7px;
	display: flex;
	justify-content: space-around; 
	border-radius: 5px 0px 0px 5px;
	box-shadow: -2px 2px 10px black;
	overflow: hidden;
	transition: width 0.4s, left 0.4s, margin-top 0.4s;
}

#review.open { 
	width: 98vw;
	max-width: 339px;
	margin-top: 120%;
	/*width: 339px; */
	left: 0px;
}

#review.empty { margin-top: 8px; }

#review-txt { margin: 7px 0px 0px 7px; }

#review-calc { 
	width: 118px;
	height: 90px; 
	background: mediumaquamarine;
	padding: 30px 6px 12px 6px; 
	margin-top: 20px;
	padding: 5px;
	transform: skew(5deg, -5deg);
	box-shadow: 2px 3px 10px darkslategray;
}

#review-sub { 
	font-weight: bold; 
	font-size: 1rem;
}

.review-p {
	text-align: end;
	margin: auto;
	font-size: 0.94rem;
}

#review-h { font-size: 2rem; }

.review-btn-cls { 
	height: 94px;
	/*width: 86px;*/
	width: 24%;
	max-width: 86px;
	background: tomato; 
	top: 30px;
	left: 104px;
	box-shadow: 2px 3px 10px darkslategray;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#review-checkout { display: none; }
#review-checkout.show { display: flex; }

.review-join-login { 
	background: yellowgreen; 
	height: 44px;
	color: moccasin;
	font-size: 1.4rem; 
}

#review-join { display: none; }
#review-login	{ 
	display: none;
	top: 80px;
} 

#review-join.show,
#review-login.show { display: flex; } 

#review-order { font-size: 4rem; }

#review-buy {
	background: tomato; 
	top: 12px;
	left: 33px;
	padding: 2px 4px;
	transform: skew(5deg, -5deg);
}

.review-color { 
	color: moccasin; 
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/********************************************/
/* Scrolling menu container and formatting */
/********************************************/
#op-container {
	width: 100vw;
	height: 8.5rem;
	overflow: hidden;
	/*position: absolute;*/
	background: rgba(255, 146, 0,1);
	/*margin-top: calc(100vh - 8rem);*/ /**/
	margin-top: -8.5rem;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;

	-webkit-transition: height 800ms, margin-top 800ms;
	-ms-transition: height 800ms, margin-top 800ms;
	-moz-transition: height 800ms, margin-top 800ms;
	-o-transition: height 800ms, margin-top 800ms;
	transition: height 800ms, margin-top 800ms;
} 

#op-overflow {
	/*width: 80vw;*/
	width: 1092px;
	overflow-x: scroll;
	margin-bottom: 50px;
	padding-top: 50px;
	padding-bottom: 25px;
	/*position: absolute;*/
	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-transition: margin-left 400ms;
	-ms-transition: margin-left 400ms;
	-moz-transition: margin-left 400ms;
	-o-transition: margin-left 400ms;
	transition: margin-left 400ms;
}

#op-overflow.home { /*margin-left: 200px;*/ margin-left: 12.5rem; }
#op-overflow.products { /*margin-left: 90px;*/ margin-left: 5.63rem; }
#op-overflow.orders { /*margin-left: 0px;*/ margin-left: 0rem; }
#op-overflow.account { /*margin-left: -89px;*/ margin-left: -5.57rem; }
#op-overflow.about { /*margin-left: -198px;*/ margin-left: -12.37rem; }

.op-div {
	/*display: inline-block;*/
	/*margin-top: 50px;*/
}

.options {
	color: rgba(255,191,0,1);
	font-size: 1rem;
	margin: 1rem;
	display: inline-block;
	z-index: 120;

	-webkit-transition: font-size 0.5s;
	-ms-transition: font-size 0.5s;
	-moz-transition: font-size 0.5s;
	-o-transition: font-size 0.5s;
	transition: font-size 0.5s;
}

.productsLoad { 
	/*font-size: 2.5rem; */
	font-size: 2rem;
}
.homeLoad,
.options.lg { 
	/*font-size: 6rem; */
	font-size: 4rem;
}
.options.md { 
	/*font-size: 2.5rem; */
	font-size: 2rem;
}

#mobile-menu-div { 
	height: 0px; 
	overflow: hidden;
	/*position: fixed;*/
}
/********************************************/
/* Mobile screen formatting */
/********************************************/
@media only screen and (max-width: 512px) { 
	#coMain { margin-top: -78vh; }
	#coTitle {
		font-size: 5rem;
		/*margin-bottom: -1rem;
		margin-top: -1rem;
		text-align: center;*/
	} 
	#coSubtitle { font-size: 2rem; }

	/*.panels { height: 0vh; }*/
	.panels.show { height: 94.4vh; } 

	#creds-container { 
		height: 0rem;
		top: 100vh;
		z-index: 250;
	}

	#creds-container.hide { 
		height: 4rem;
		top: calc(100% - 10.4rem);
		/*top: calc(100% - 166px);*/
	}

	/*#credsDiv { margin-top: 47px; }
	#credsDiv.hide {
		margin-top: -7.5rem;
		overflow: hidden;
	}*/

	.credsBtn { z-index: 260; }

	#credsForm.select { z-index: 250; }

	#arrow-container {
		overflow: hidden;
		/*height: 0vh;*/
		/*margin-top: 0vh;*/
		height: 8rem; 
		margin-top: -8rem;
		z-index: 130;

		-webkit-transition: height 1s, margin-top 1s;
		-moz-transition: height 1s, margin-top 1s;
		-ms-transition: height 1s, margin-top 1s;
		-o-transition: height 1s, margin-top 1s;
		transition: height 1s, margin-top 1s;
	}

	#arrow-container.hide {
		/*height: 24vh;*/
		height: 8rem;
		/*margin-top: -23vh;*/
		margin-top: -8rem; 
		position: fixed;
	}

	#arrow-container.reset { height: 0rem; }

	.arrow-div { margin-top: 0vh; }

	.awesome-arrows { 
		color: moccasin;
		background: tomato;
		opacity: 0.88;
		margin-top: 1.4rem;
		margin-bottom: 0rem;
		box-shadow: none;
		text-shadow: none;
		margin-right: 0rem;
		margin-left: 0rem;
	}

	.awesome-arrows.hide { 
		color: rgba(255,191,0,1); 
		background: orange;
		text-shadow: 2px 2px 4px rgba(245,150,0,1);
		box-shadow: 2px 0px 8px darkorange, -2px 0px 8px darkorange;
		margin: 1.4rem 1rem; 
	}

	.scroll-shopping { margin-left: 0px; }

	#mobile-menu-div { 
		width: 100%;
		/*height: 6vh; */
		height: 33px;
		/*top: 91vh;*/
		top: calc(100vh - 33px);
		text-align: center;
		z-index: 150;
	}

	#mobile-menu-div.hide { position: fixed }

	#mobile-menu-icon {
		font-size: 1.4rem;
		color: moccasin;
		background: brown; 
		background: tomato;
		padding: 6px 12px 5px 12px;
		/*padding: 0.35rem 0.74rem 0.32rem 0.74rem;*/
		border-radius: 12px 12px 3px 3px;
		/*border-radius: 0.76rem 0.2rem;*/
		/*border-radius: 0.76rem 0.76rem 0.2rem 0.2rem;*/
		box-shadow: none;
		text-shadow: none;
		opacity: 0.88;
		-webkit-transition: background 1s, color 1s, box-shadow 1s;
		-moz-transition: background 1s, color 1s, box-shadow 1s;
		-ms-transition: background 1s, color 1s, box-shadow 1s;
		-o-transition: background 1s, color 1s, box-shadow 1s;
		transition: background 1s, color 1s, box-shadow 1s;
	}

	#mobile-menu-icon.hide {
		background: orange;
		color: rgba(255,191,0,1);
		box-shadow: 4px -4px 8px darkorange;
		text-shadow: 2px -2px 4px rgba(245,150,0,1);
	}

	#op-container { 
		height: 0rem;
		margin-top: 0rem;
		z-index: 120;
	}

	#op-container.hide {
		height: 8.5rem;
		margin-top: -8.5rem;
	}
	.homeLoad,
	.options.lg { font-size: 3rem; }
}

@media only screen and (max-height: 720px) { 
	.sm-panel { margin-right: 24px; }
	#shopping-bag { z-index: 250; }
	#cart { z-index: 250; } 
}

/* approx. responsive settings 316 x 442 */
@media only screen and (max-width: 320px) { 
	.review-join-login { 
		font-size: 1.2rem; 
		left: 98px;
	}

	#cart.open { 
		top: 420px;
		right: 226px;
	} 
	#cart.empty { 
		top: 43px;
		right: 226px; 
	} 

	/*.about-container { height: 82%; }*/
	/* resp */
	.about-app-container {  }
	.about-h { margin-top: auto; }
	#about-h2 {
		margin-top: 1.2rem;
		/* resp */
		/*margin-top: 0.6rem; 
		margin-bottom: -0.6rem; */
	}
	.about-ul { 
		font-size: 0.82rem; 
		/* resp */
		width: 74%;
		margin-right: auto;
		margin-left: auto;
	}
	#about-connect { 
		font-size: 1rem;
		/*margin-bottom: -1.6rem;*/
		/*margin-bottom: -4rem;*/
		/* resp */
		margin-top: 0.6rem;
		/*margin-bottom: -2rem;*/
	}
	/* resp */
	#about-icons { 
		width: 68%;
		padding: 0.4rem 0.6rem;
	}
	.about-app-div { width: 7.6rem; }
	.about-app-txt { font-size: 0.56rem; }
	.about-app-title { font-size: 0.85rem; }
	.about-media { font-size: 1.6rem; }
	#about-ap { 
		font-size: 2rem;
		padding: 0.3rem 0rem 0.2rem 0.5rem;
	 }
	#about-pl { 
		font-size: 2rem; 
		padding: 0.3rem 0.3rem 0.2rem 0.3rem;
	}
	#about-pl + div { margin-left: 0rem; }
}

@-ms-viewport { width: device-width; }

/**** Debug Testing Body Overflow ****/
/** { */
	/*outline: 1px solid red; */
	/* add to check for hidden elements */
	/*opacity: 1 !important;
	visibility: visible !important;*/
/*}*/